{% extends 'base.html' %} {% block head %}
<title>Expense Tracker</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">UPDATE EXPENSE</h1>
  <div class="form">
    <form action="/update/{{expense.id}}" method="POST">
      <input
        type="number"
        name="amount"
        id="amount"
        value="{{expense.amount}}"
      />
      <label for="amount">Enter amount </label>
      <select name="category" id="category" value="{{expense.category}}">
        <option value="Self">Self</option>
        <option value="House">House</option>
        <option value="Office">Office</option>
      </select>
      <label for="category">Choose category </label>
      <input
        type="text"
        name="description"
        id="description"
        value="{{expense.description}}"
      />
      <label for="description">Enter description </label>
      <input type="submit" value="Update Expense" />
    </form>
  </div>
</div>

{% endblock %}
